
.ipynb_checkpoints/Lecture2_RotationalField-checkpoint.ipynb
.ipynb_checkpoints/ChatGPT_1DHeat-checkpoint.ipynb
.ipynb_checkpoints/ChatGPT_2DLidCavity-checkpoint.ipynb
.ipynb_checkpoints/ChatGPT_Double_Pendulum-checkpoint.ipynb
.DS_Store
